@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           @*  @if (home != null && !String.IsNullOrEmpty(home.bejelentkezo.felhasznalonev))
            {
                <p>@home.bejelentkezo.felhasznalonev</p>
                <button class="btn btn-danger" @onclick="Kijelentkezes">Kijelentkezés</button>
            } *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    window.localStorageChangeDetection = {
        listenForChanges: function (key, dotnetHelper) {
            window.addEventListener("storage", function (event) {
                if (event.key === key) {
                    dotnetHelper.invokeMethodAsync("OnStorageChanged", event.newValue);
                }
            });
        }
    }
</script>


@code{
    private Pages.Home home;
    


    private async void Kijelentkezes()
    {
        
    }
}

