@page "/"
@using Tesztfeladat.Entity.DTOs;
@using System.Text.Json
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject Microsoft.JSInterop.IJSRuntime JSRuntime


<PageTitle>Bejelentkezes</PageTitle>

<h1>Nyugtát egyszerűen!</h1>

@if (!sikeresBejelentkezes)
{
    <label>Email:</label>
    <br />
    <input type="text" @bind="request.email" @bind:event="oninput" />
    <br />
    <label>Jelszó:</label>
    <br />
    <input type="password" name="Mennyiseg" @bind="request.password" @bind:event="oninput" />
    <br/>
    @if (rosszAdat)
    {    
        <p>Felhasználónév vagy jelszó nem megfelelő</p>
    }
    <button class="btn btn-primary" @onclick="Bejelentkezes">Bejelentkezes</button>
}
else
{
    <h2>Üdvözöljük @request.email</h2>
    <button class="btn btn-danger" @onclick="Kiejelentkezes">Kijelentkezes</button>
}

@code {
    public class Token
    {
        public string tokenType { get; set; }
        public string accessToken { get; set; }
        public int expiresIn { get; set; }
        public string refreshToken { get; set; }
    }

    private class Request
    {
        public string email { get; set; }
        public string password { get; set; }
    };

    Request request = new Request();

    public Token token = new Token();

    private bool rosszAdat = false;
    private bool sikeresBejelentkezes = false;

    private void Bejelentkezes()
    {
        rosszAdat = false;
        var client = new HttpClient();
        client.BaseAddress = new Uri("http://localhost:5013/");

        var json = JsonSerializer.Serialize(request);
        var content = new StringContent(json, System.Text.Encoding.UTF8, "application/json");

        var response = client.PostAsync("login", content).Result;
        if (response.IsSuccessStatusCode)
        {
            var responsString = response.Content.ReadAsStringAsync().Result;
            token = JsonSerializer.Deserialize<Token>(responsString);
            JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "accessToken", token.accessToken);
            sikeresBejelentkezes = true;
        }
        else
        {
            rosszAdat = true;
        }
    }

    private void Kiejelentkezes()
    {
        rosszAdat = false;
        sikeresBejelentkezes = false;
        request = new Request();
    }
}
